@{
    ViewData["Title"] = "Gallery";
}

<div class="images-edit">

    <h1 style="text-align:center; margin-top: 10px;">Gallery</h1>
<div class = "first-row"> 
    <div >
          <img class="first-row-col-image" src="https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
    </div>
  <div>
        <img class="second-row-col-image" src="https://plus.unsplash.com/premium_photo-1661563835979-0257f71e34d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
  </div>  
</div>

<div class="second-row">
        <div class="second-row-first-col-image">
            <img class="second-row-first-col-image" src="https://plus.unsplash.com/premium_photo-1673830185738-fdeec12d7908?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
        </div>

        <div >
            <img class="second-row-second-col-image" src="https://images.unsplash.com/photo-1544148103-0773bf10d330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
        </div>      
</div>

</div>
